<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Gestures</string>
            <key>footerText</key>
            <string>Swipe down on an app to kill all apps instantly.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PSSubtitleSwitchTableCell</string>
            <key>cellSubtitleText</key>
            <string>Kill all apps when swiping down</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>key</key>
            <string>swipeDownToKillAll</string>
            <key>label</key>
            <string>Swipe down to kill all</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Device lock</string>
            <key>footerText</key>
            <string>Kill all of your apps after locking the device. You can also add a grace period in which the apps won't be killed.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PSSubtitleSwitchTableCell</string>
            <key>cellSubtitleText</key>
            <string>Kill apps when locking the device.</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>key</key>
            <string>killAfterLock</string>
            <key>label</key>
            <string>Kill after lock</string>
            <key>id</key>
            <string>killAfterLockStatus</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PSSubtitleSwitchTableCell</string>
            <key>cellSubtitleText</key>
            <string>Kill apps after a specified time.</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>key</key>
            <string>hasGracePeriod</string>
            <key>label</key>
            <string>Grace period</string>
            <key>id</key>
            <string>hasGracePeriodStatus</string>
            <key>dynamicRule</key>
            <string>killAfterLockStatus,0</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>default</key>
            <integer>1</integer>
            <key>key</key>
            <string>killLockGracePeriodTimeMeasurement</string>
            <key>validTitles</key>
            <array>
                <string>Seconds</string>
                <string>Minutes</string>
                <string>Hours</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
            </array>
            <key>dynamicRule</key>
            <string>hasGracePeriodStatus,0</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>GSSliderCell</string>
			<key>title</key>
			<string>Kill after:</string>
			<key>default</key>
			<real>10.0</real>
			<key>defaults</key>
			<string>com.ginsu.killcontrol</string>
			<key>key</key>
			<string>killLockGracePeriod</string>
			<key>min</key>
			<real>1.0</real>
			<key>max</key>
			<real>100.0</real>
            <key>dynamicRule</key>
            <string>hasGracePeriodStatus,0</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Kill/Open rules</string>
            <key>footerText</key>
            <string>Kill apps of your choice when a specific app is opened.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PSSubtitleSwitchTableCell</string>
            <key>cellSubtitleText</key>
            <string>Kill chosen apps when an app opens.</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>key</key>
            <string>killOnAppLaunch</string>
            <key>label</key>
            <string>Kill on app launch</string>
            <key>id</key>
            <string>killOnAppLaunchStatus</string>
        </dict>
        <dict>
            <key>bundle</key>
            <string>AltList</string>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>ATLApplicationListMultiSelectionController</string>
            <key>key</key>
            <string>killTheseAppsOne</string>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>sections</key>
            <array>
                <dict>
                    <key>sectionType</key>
                    <string>Visible</string>
                </dict>
            </array>
            <key>isController</key>
            <true/>
            <key>overridePrincipalClass</key>
            <true/>
            <key>label</key>
            <string>Kill these apps</string>
            <key>useSearchBar</key>
            <true/>
            <key>alphabeticIndexingEnabled</key>
            <true/>
            <key>dynamicRule</key>
            <string>killOnAppLaunchStatus,0</string>
        </dict>
        <dict>
            <key>bundle</key>
            <string>AltList</string>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>ATLApplicationListSelectionController</string>
            <key>key</key>
            <string>whenThisAppOpensOne</string>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>sections</key>
            <array>
                <dict>
                    <key>sectionType</key>
                    <string>Visible</string>
                </dict>
            </array>
            <key>isController</key>
            <true/>
            <key>overridePrincipalClass</key>
            <true/>
            <key>label</key>
            <string>When this app opens</string>
            <key>useSearchBar</key>
            <true/>
            <key>alphabeticIndexingEnabled</key>
            <true/>
            <key>dynamicRule</key>
            <string>killOnAppLaunchStatus,0</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Open apps of your choice in the background when a specific app is opened.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PSSubtitleSwitchTableCell</string>
            <key>cellSubtitleText</key>
            <string>Open chosen apps when an app opens.</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>key</key>
            <string>openOnAppLaunch</string>
            <key>label</key>
            <string>Open on app launch</string>
            <key>id</key>
            <string>openOnAppLaunchStatus</string>
        </dict>
        <dict>
            <key>bundle</key>
            <string>AltList</string>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>ATLApplicationListMultiSelectionController</string>
            <key>key</key>
            <string>openTheseAppsTwo</string>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>sections</key>
            <array>
                <dict>
                    <key>sectionType</key>
                    <string>Visible</string>
                </dict>
            </array>
            <key>isController</key>
            <true/>
            <key>overridePrincipalClass</key>
            <true/>
            <key>label</key>
            <string>Open these apps</string>
            <key>useSearchBar</key>
            <true/>
            <key>alphabeticIndexingEnabled</key>
            <true/>
            <key>dynamicRule</key>
            <string>openOnAppLaunchStatus,0</string>
        </dict>
        <dict>
            <key>bundle</key>
            <string>AltList</string>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>ATLApplicationListSelectionController</string>
            <key>key</key>
            <string>whenThisAppOpensTwo</string>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>sections</key>
            <array>
                <dict>
                    <key>sectionType</key>
                    <string>Visible</string>
                </dict>
            </array>
            <key>isController</key>
            <true/>
            <key>overridePrincipalClass</key>
            <true/>
            <key>label</key>
            <string>When this app opens</string>
            <key>useSearchBar</key>
            <true/>
            <key>alphabeticIndexingEnabled</key>
            <true/>
            <key>dynamicRule</key>
            <string>openOnAppLaunchStatus,0</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Blacklist</string>
            <key>footerText</key>
            <string>Exlude some apps from being killed.</string>
        </dict>
        <dict>
            <key>bundle</key>
            <string>AltList</string>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>ATLApplicationListMultiSelectionController</string>
            <key>key</key>
            <string>blacklistApps</string>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>sections</key>
            <array>
                <dict>
                    <key>sectionType</key>
                    <string>Visible</string>
                </dict>
            </array>
            <key>isController</key>
            <true/>
            <key>overridePrincipalClass</key>
            <true/>
            <key>label</key>
            <string>Blacklist</string>
            <key>useSearchBar</key>
            <true/>
            <key>alphabeticIndexingEnabled</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PSSubtitleSwitchTableCell</string>
            <key>cellSubtitleText</key>
            <string>Don't kill music apps</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>key</key>
            <string>excludeMediaApps</string>
            <key>label</key>
            <string>Exclude now playing app</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Miscellaneous</string>
            <key>footerText</key>
            <string>Ask before proceeding to kill all apps.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PSSubtitleSwitchTableCell</string>
            <key>cellSubtitleText</key>
            <string>Shows an alert before killing all</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.ginsu.killcontrol</string>
            <key>key</key>
            <string>askBeforeKilling</string>
            <key>label</key>
            <string>Ask before killing</string>
        </dict>
	</array>
	<key>title</key>
	<string>Behaviour</string>
</dict>
</plist>
