<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isEnabled</key>
	<true/>
	<key>killAfterLock</key>
	<false/>
	<key>hasGracePeriod</key>
	<false/>
	<key>killLockGracePeriodTimeMeasurement</key>
	<integer>1</integer>
	<key>killLockGracePeriod</key>
	<real>10.0</real>
	<key>killOnAppLaunch</key>
	<false/>
	<key>openOnAppLaunch</key>
	<false/>
	<key>swipeDownToKillAll</key>
	<true/>
	<key>askBeforeKilling</key>
	<false/>
	<key>excludeMediaApps</key>
	<true/>
	<key>onlyKillChosenWhenLocked</key>
	<false/>
	<key>preventSwipe</key>
	<false/>
</dict>
</plist>
